.pointsContainer {
  /* margin-top: 50px; */
  background-color: #64dfdf;
  height: 150px;
  border-style: solid;
  border-color: #64dfdf;
  border-radius: 6%;
  margin: auto;
  padding-right: 5px;
  padding-left: 5px;
  width: fit-content;
}
.pointsTitle {
  margin: auto;
  font-size: 7rem;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #fff;
}
.pointsFont {
  margin-top: 25px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
  color: #184d47;
  font-family: 'Lato', sans-serif;
}
.starSection {
  margin-top: 50px;
  text-align: center;
}